GOOGLE_API_KEY=
OPENAI_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=
SECRET_KEY=
FROM_EMAIL=
RESEND_API_KEY=
LINEPAY_CHANNEL_ID=
LINEPAY_CHANNEL_SECRET=
LINEPAY_API_BASE_URL=
PUBLIC_DOMAIN=
FRONTEND_DOMAIN=
DEBUG=
ECPAY_MERCHANT_ID=
ECPAY_HASH_KEY=
ECPAY_HASH_IV=
ECPAY_RETURN_URL=
ECPAY_CLIENT_BACK_URL=
ECPAY_GATEWAY_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
REDIS_URL=